@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;

    padding-left: 15px;
    padding-right: 15px;

    /* outline-color: tomato; */
  }

  .header {
    height: 76px;
  }

  .header-list {
    display: flex;

    margin-left: 76px;
  }

  .header-link.current::after {
    top: calc(100% + 24px);
  }

  /* Address */
  .address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .address-item {
    display: block;
    padding: 0;
    margin: 0;
  }

  .address-link {
    display: block;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* Section HERO */
  .hero-wrap {
    max-width: 1440px;
    height: 600px;
  }

  .hero-title {
    max-width: 496px;

    font-size: 56px;
    line-height: 1.07;

    margin-bottom: 48px;
  }

  /* Section Features */
  .features {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .features-item {
    width: calc((100% - (3 * 24px)) / 4);
  }

  .features-item > .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .features-icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    padding-top: 24px;
    padding-bottom: 24px;

    background-color: var(--light-bg);
    border-radius: var(--b-radius);
  }

  .features-icon {
    width: 64px;
    height: 64px;
  }

  /* Section Directions */
  .directions {
    display: flex;
    padding-top: 0;
    padding-bottom: 120px;
  }

  .directions-title {
    margin-bottom: 72px;
  }

  .directions-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .directions-item {
    width: calc((100% - 2 * 24px) / 3);
    border: 1px solid var(--accent);
  }
  /* Section Team */
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team > .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .team-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  /* Section Customers */
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers > .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .customers-list {
    gap: 24px;
  }

  .customers-item {
    width: calc((100% - 5 * 24px) / 6);
  }

  /* PORTFOLIO PAGE */
  /* Section Projects */
  .projects {
    padding-top: 96px;
    padding-bottom: 120px;
  }

  .filters-list {
    margin-bottom: 72px;
  }

  .gallery-list {
    row-gap: 48px;
  }

  .gallery-item {
    width: calc((100% - 2 * 24px) / 3);
  }

  /* Footer */

  .footer > .container {
    max-width: 1158px;
  }

  .footer-wrap {
    column-gap: 80px;
  }

  .footer-logo {
    margin-right: auto;
  }
}
