@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* HEADER */
  .header {
    height: 72px;
    border: 0;
    border-bottom: 1px solid var(--accent);
  }

  .header-list {
    display: flex;
    justify-content: center;
    gap: 40px;

    margin: 0 120px;
  }

  .header-link {
    position: relative;
    display: block;

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--heading);

    transition: color var(--trans-time) var(--trans-func);
  }

  .header-link:is(:hover, :focus),
  .header-link.current {
    color: var(--pressed);
  }

  .header-link.current::after {
    content: "";
    position: absolute;

    width: 100%;
    height: 4px;

    top: 45px;
    left: 0;

    background-color: var(--pressed);
    border-radius: 2px;
  }

  /* Address */
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-link {
    display: block;
    padding: 0;
    margin: 0;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: currentColor;

    transition: color var(--trans-time) var(--trans-func);
  }

  .address-link:is(:hover, :focus),
  .address-link.current {
    color: var(--pressed);
  }

  .menu-open {
    display: none;
  }

  /* Section HERO */
  .hero-wrap {
    width: 100%;
    max-width: 768px;
    height: 436px;

    background-image: var(--hero-bg-lgr), url(../images/hero-bg-tab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-wrap {
      background-image: var(--hero-bg-lgr), url(../images/hero-bg-tab.jpg);
    }
  }

  .hero-title {
    max-width: 496px;

    font-size: 56px;
    line-height: 1.07;

    margin-bottom: 40px;
  }

  /* Section Features */
  .features-item {
    width: calc((100% - 24px) / 2);
  }

  .features-item > .title {
    text-align: left;
  }

  /* Section Team */
  .team {
    padding-top: 96px;
    padding-bottom: 104px;
  }

  .team > .container {
    max-width: 552px;
  }

  .team-list {
    row-gap: 64px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }

  /* Section Customers */
  .customers > .container {
    max-width: 552px;
  }

  .customers-list {
    column-gap: 24px;
  }

  .customers-item {
    width: calc((100% - 2 * 24px) / 3);
  }

  /* PORTFOLIO PAGE */
  /* Section Projects */
  .projects {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .filters-list {
    justify-content: center;

    margin-bottom: 64px;
  }

  .filters-button {
    padding: 12px 24px;
  }

  .gallery-list {
    row-gap: 72px;
  }

  .gallery-item {
    width: calc((100% - 24px) / 2);
  }

  /* Footer */

  .footer > .container {
    max-width: 552px;
  }

  .footer-wrap {
    justify-content: left;
  }

  .footer .logo {
    text-align: left;
  }

  .footer-title {
    text-align: left;
  }

  .subscribe-form {
    display: flex;
    justify-content: left;
    align-items: center;

    gap: 24px;
  }

  .subscribe-label {
    width: 264px;
  }

  /* Modal Window */
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;

    padding: 24px;
  }
}
