@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;

    /* outline-color: yellowgreen; */
  }

  .header-list {
    display: flex;

    margin-left: 123px;
  }

  .header-link.current::after {
    top: calc(100% + 18px);
  }

  /* Address */
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .address-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  /* Section HERO */
  .hero-wrap {
    height: 436px;
  }

  .hero-title {
    max-width: 496px;

    font-size: 56px;
    line-height: 1.07;

    margin-bottom: 40px;
  }

  /* Section Features */
  .features-item {
    width: calc((100% - 24px) / 2);
  }

  .features-item > .title {
    text-align: left;
  }

  /* Section Team */
  .team {
    padding-top: 96px;
    padding-bottom: 104px;
  }

  .team > .container {
    max-width: 552px;
  }

  .team-list {
    row-gap: 64px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }

  /* Section Customers */
  .customers > .container {
    max-width: 552px;
  }

  .customers-list {
    column-gap: 24px;
  }

  .customers-item {
    width: calc((100% - 2 * 24px) / 3);
  }

  /* PORTFOLIO PAGE */
  /* Section Projects */
  .projects {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .filters-list {
    margin-bottom: 64px;
  }

  .gallery-list {
    row-gap: 72px;
  }

  .gallery-item {
    width: calc((100% - 24px) / 2);
  }

  /* Footer */

  .footer > .container {
    max-width: 552px;
  }

  .footer-wrap {
    justify-content: left;
  }

  .footer .logo {
    text-align: left;
  }

  .footer-title {
    text-align: left;
  }

  .subscribe-form {
    display: flex;
    justify-content: left;
    align-items: center;

    gap: 24px;
  }

  .subscribe-label {
    width: 264px;
  }

  /* Modal Window */
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;

    padding: 24px;
  }
}
